
<div class="main">
    <!-- add partials here -->
    <div class="main_block">
        <div class="form-container">
            <form id="todo-form" class="todo-form">
                <input class="input" id="form-title" placeholder="Title" type="text">
                <input class="input" id="form-description" placeholder="Description" type="text">
                <input class="submit" type="submit" name="create" placeholder="Create">
            </form>
        </div>

        <ol class="todo-list-container" id="todo-list"></ol>
    </div>
</div>
